$color-text1: #888888;
$color-text2: #666666;
$color-text3: #222222;
$color-back: #fdfdfd;
$color-border: #dbdbdb;
$color-focus: #a8a8a8;
$color-blue: #2e95bf;
$color-red: #f25a5a;
$color-yellow: #f25a5a;
$color-purple: #955ba6;
$color-green: #4eba70;
$color-input: #fefcff;
$font: 'Sawarabi Gothic', 
sans-serif;

$padding: 15px;
$radius: 4px;
